.middleDiv {
    max-width: 600px;
    margin: auto;
    width: 600px;
    padding: 10px;
    margin-top: 10%;
}

.group{
    display:flex;
    width:100%;
}

table {
  width: 100%;
}

.detail {
    text-align: center;
    text-decoration: underline;
    color: #1a0dab;
}

.detail:hover {
    color: #4CAF50;
    cursor: pointer;
}