<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="test">
<mat-card class="home">
    <mat-card-header>
      <mat-card-title>Atlanta Zoo Visitor</mat-card-title>
    </mat-card-header>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="form-group row" *ngFor="let item of titleList">
              <button mat-button class="button">{{item}}</button>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group row" *ngFor="let item2 of titleList2">
              <button mat-button class="button">{{item2}}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
