
<mat-tab-group dynamicHeight>
    <mat-tab label="Home">
      <div class="example-small-box mat-elevation-z4">
        <app-home-admin></app-home-admin>
      </div>
    </mat-tab>
    <mat-tab label="View Staff">
      <div class="example-large-box mat-elevation-z4">
        <app-view-staff></app-view-staff>>
      </div>
    </mat-tab>
    <mat-tab label="View Show">
        <div class="example-large-box mat-elevation-z4">
          <app-show-view></app-show-view>
        </div>
      </mat-tab>
      <mat-tab label="View Animals">
          <div class="example-large-box mat-elevation-z4">
            <app-animal-detail></app-animal-detail>>
          </div>
        </mat-tab>
        <mat-tab label="View Visitors">
            <div class="example-large-box mat-elevation-z4">
              <app-view-visitors></app-view-visitors>
            </div>
          </mat-tab>
          <mat-tab label="Add Animals">
              <div class="example-large-box mat-elevation-z4">
                <app-animal-detail></app-animal-detail>

              </div>
            </mat-tab>
            <mat-tab label="Add Shows">
                <div class="example-large-box mat-elevation-z4">
                  <app-show-add-detail></app-show-add-detail>
                </div>
              </mat-tab>
  </mat-tab-group>
