.test {
  max-width: 600px;
  margin: auto;
  width: 600px;
  padding: 10px;
  margin-top: 10%;
  background-color: #fff3e6
}
.header {
  font-size: 20px;
}

.table {
  width: 100%;
}
td, th {
  width: 25%;
}
