<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="test">
<mat-card>
    <mat-card-header>
        <mat-card-title>Search Animal</mat-card-title>
    </mat-card-header>
    <div class="container">
        <div class="row">
        <div class="col-sm">
            <div>
                <mat-form-field class="nameInput">
                    <input matInput placeholder="Name" name="name"
                    [(ngModel)]="search.data.name">
                </mat-form-field>
            </div>
            </div>

            <div class="col-sm">
                <div>
                    <mat-form-field>
                    <mat-select placeholder="Exhibit" [(ngModel)]="search.data.exhibit">
                        <mat-option *ngFor="let exhibit of exhibitList" [value]="exhibit">
                        {{exhibit.name}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-sm">
                <mat-form-field class="nameInput">
                    <input matInput placeholder="Species" name="species" [(ngModel)]="search.data.species">
                </mat-form-field>
            </div>

            <div class="col-sm">
                <div class="age">Age (months)</div>
            </div>

            <div class="col-sm">
                <div class="content with-margin">
                    <mat-form-field class="numMin">
                        <input matInput placeholder="Min" type="number" [(ngModel)]="search.data.ageMin"
                        name="min_field" ng-pattern="/^(0|\-?[1-9][0-9]*)$/">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm">
                <div class="content with-margin">
                    <mat-form-field class="numMax">
                        <input matInput placeholder="Max" type="number" [(ngModel)]="search.data.ageMax"
                        name="min_field" ng-pattern="/^(0|\-?[1-9][0-9]*)$/">
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm">
                <div>
                    <mat-form-field>
                    <mat-select placeholder="Type" [(ngModel)]="search.data.type">
                        <mat-option *ngFor="let type of typeList" [value]="type">
                        {{type}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="col-sm">
                <div class="buttonLayout">
                    <button mat-button class="button">Search</button>
                </div>
            </div> -->
        </div>
    </div>
    <hr>
    <mat-card-header>
        <mat-card-title>Search for</mat-card-title>
    </mat-card-header>
    <div class="row">
        <div class="col-sm">
            <mat-checkbox [(ngModel)]="search.criteria.name">Name&nbsp;&nbsp;</mat-checkbox>
        </div>
        <div class="col-sm">
            <mat-checkbox [(ngModel)]="search.criteria.exhibit">Exhibit&nbsp;&nbsp;</mat-checkbox>
        </div>
        <div class="col-sm">
            <mat-checkbox [(ngModel)]="search.criteria.species">Species&nbsp;&nbsp;</mat-checkbox>
        </div>
        <div class="col-sm">
            <mat-checkbox [(ngModel)]="search.criteria.age">Age&nbsp;&nbsp;</mat-checkbox>
        </div>
        <div class="col-sm">
            <mat-checkbox [(ngModel)]="search.criteria.type">Type&nbsp;&nbsp;</mat-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
            <button (click)="searchClicked()" mat-fab color="accent">Search</button>
        </div>
    </div>

    <div *ngIf="tableDisplay" class="row">
        <table mat-table [dataSource]="dataSource" class="table">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                (click)="sort($event)"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Species Column -->
            <ng-container matColumnDef="species">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                (click)="sort($event)"> Species </th>
                <td mat-cell *matCellDef="let element"> {{element.species}} </td>
            </ng-container>

            <!-- Species Column -->
            <ng-container matColumnDef="exhibit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                (click)="sort($event)"> Exhibit</th>
                <td mat-cell *matCellDef="let element"> {{element.exhibit}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                (click)="sort($event)"> Age</th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                (click)="sort($event)"> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container *ngIf="userLink != 'Remove'" matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="detail" (click)="animalDetail(element)" 
                mat-cell *matCellDef="let element;" style="text-align: center;">{{userLink}}</td>
            </ng-container>

            <ng-container *ngIf="userLink == 'Remove'" matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"></th>
                <td *matCellDef="let element;" style="text-align: center;">
                    <button mat-raised-button color="primary" (click)="remove(element)">Remove</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>
</div>
