<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="test">
<mat-card>
  <mat-card-header class="header">Add Animal</mat-card-header>
  <div class="container">

    <div class="row">
        <div class="col-sm">
          <!-- <div class="content with-margin">Name:</div> -->
          <div>
          <form class="example-form">
              <mat-form-field class="nameInput">
                <input matInput placeholder="Name" [(ngModel)]="name" required name="name">
              </mat-form-field>
            </form>
          </div>

          <div>
            <mat-form-field>
              <mat-select placeholder="Exhibit" [(ngModel)]="exhibit" required>
                <mat-option *ngFor="let exhibit of exhibitList" [value]="exhibit">
                  {{exhibit.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button mat-button class="button" (click)="submit()">Add Animal</button>
        </div>
        <div class="col-sm">
            <div class="specieInput">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Specie" name="specie" required [(ngModel)]="specie">
                </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="type" required>
                  <mat-option *ngFor="let type of typeList" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="content with-margin">
                <mat-form-field class="age">
                    <input matInput placeholder="Age" type="number" [(ngModel)]="age" 
                    name="age_field" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" required>
                  </mat-form-field>

            </div>
        </div>
    </div>

  </div>
</mat-card>
</div>
