<div class="test">
<mat-card>
  <mat-card-header class="header">Add Animal</mat-card-header>
  <div class="container">
    <div class="row">
        <div class="col-sm">
          <div class="content with-margin">Name:</div>
          <div class="content with-margin">Exhibit:</div>
          <div class="content with-margin">Species:</div>

        </div>
        <div class="col-sm">
            <div class="content with-margin">Species:</div>
            <div class="content with-margin">Type:</div>
            <div class="content with-margin">Age:</div>
        </div>
    </div>
    <button mat-button class="button">Add Animal</button>
  </div>
</mat-card>
</div>
