<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<app-home-admin></app-home-admin>
<app-home-staff></app-home-staff>
<app-home-visitor></app-home-visitor>
<app-animal-detail-view></app-animal-detail-view>
<app-exhibit-detail-view></app-exhibit-detail-view>

<app-animal-detail></app-animal-detail>
<app-show-add-detail></app-show-add-detail>
<app-show-view></app-show-view>
<app-exhibit-history></app-exhibit-history>
<app-search-detail></app-search-detail>
