<mat-card>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label biggerSize">Email</label>
        <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" [errorStateMatcher]="matcher" 
                [formControl]="emailFormControl" (keyup)="emailInput($event)">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <!-- <div class="form-group row">
        <label class="col-sm-2 col-form-label biggerSize">Username</label>
        <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" (keyup)="usernameInput($event)">
            </mat-form-field>
        </div>
    </div> -->

    <div class="form-group row">
        <label class="col-sm-2 col-form-label biggerSize">Password</label>
        <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" (keyup)="passwordInput($event)">
            </mat-form-field>
        </div>
    </div>
    <div>
        <mat-chip-list class="centerlize">
            <mat-chip (click)="login()" color="primary" selected>Take me in</mat-chip>
            <mat-chip (click)="forgotPass()" color="else">Forgot Password</mat-chip>
        </mat-chip-list>
    </div>
</mat-card>