<div class="test">
    <mat-card>
      <mat-card-header class="header">Animal Detail</mat-card-header>
      <div class="container">
        <div class="row">
            <div class="col-sm">
              <div>Name:</div>

            </div>
            <div class="col-sm">
                <div>Size:</div>
              </div>
              <div class="col-sm">
                  <div>Num Animals:</div>
              </div>
              <div class="col-sm">
                  <div>Water Feature:</div>
              </div>
        </div>
      </div>
    </mat-card>
    </div>
