<div class="test">
    <mat-card>
    <mat-card-title class="header">Animal Detail</mat-card-title>
        <mat-card>
            <mat-card-content><strong>Name: &nbsp;</strong>{{animal.name}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Specie: &nbsp;</strong>{{animal.species}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Type: &nbsp;</strong>{{animal.type}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Age: &nbsp;</strong>{{animal.age}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Exhibit: &nbsp;</strong>{{animal.exhibit}}</mat-card-content>
        </mat-card>
    </mat-card>
</div>
