<div class="test">
    <mat-card>
    <mat-card-title class="header">Animal Detail</mat-card-title>
        <mat-card>
            <mat-card-content><strong>Name: &nbsp;</strong>{{animal.name}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Specie: &nbsp;</strong>{{animal.species}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Type: &nbsp;</strong>{{animal.type}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Age: &nbsp;</strong>{{animal.age}}</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content><strong>Exhibit: &nbsp;</strong>{{animal.exhibit}}</mat-card-content>
        </mat-card>

        <div *ngIf="userType == 'Staff'">
            <form [formGroup]="form">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Note" formControlName="note" [(ngModel)]="note"></textarea>
                </mat-form-field>
                <button [disabled]='!form.valid' (click)="saveNote()" mat-raised-button color="accent">Note</button>
            </form>
            
            <table mat-table [dataSource]="dataSource" class="table">
    
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
    
                <!-- Name Column -->
                <ng-container matColumnDef="staff">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff member </th>
                <td mat-cell *matCellDef="let element"> {{element.staff_member}} </td>
                </ng-container>
    
                <!-- Species Column -->
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Note </th>
                    <td mat-cell *matCellDef="let element"> {{element.text_care}} </td>
                </ng-container>
    
                <!-- Species Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time</th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>
</div>
